.chat-group-form__field--right
  #chat-group-users
    #chat-group-user-22.chat-group-user.clearfix
      %input{:name => "chat_group[user_ids][]", :type => "hidden", :value => "22"}/
      %p.chat-group-user__name
      = render partial: "shared/member"
