$flashmessage-alert-color: #e74c3c;
$flashmessage-notice-color: #38AEF0;

.flash {
  color: #fff;
  text-align: center;
  &__alert{
    background-color: $flashmessage-alert-color;
  }
  &__notice {
    background-color: $flashmessage-notice-color;
  }
}
